.Login {
    background-color: bisque;
}

.myHeader {
    background-color: aqua;
}

.fieldset {
    border-radius: 2px;
    border-style: solid;
    max-width: 500px;
    display: block;
    float: left;
}