.TransInput {
    height: 80px;
    width: 600px;
    font-size: 25px;
}
 p{
font-size: 25px;
 }

 #divBox {
    min-width: 8rem;
    width: 50vw;
    max-width: 60rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(var(--sign-size) / 2);
}

#sign{
    max-width: 100px;
    
}
